<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Flask-Reuploaded Example</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages is defined %}
        <ul class=flashes>
        {% for k, message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% if img_path is defined %}
        FloorPlan<br>
        <img src="data:image/png;base64,{{img_path}}" alt ="Server Error" style="width:30%;">
        <br>ALL Generated<br>
        <img src="data:image/png;base64,{{img_path}}" alt ="Server Error" style="width:30%;">
    {% endif %}

<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <input type=text name=photo>
    <button type="submit">Submit</button>
</form>
</body>
</html>